$fontstack: 'Source Sans Pro', sans-serif;

#app {
    font-family: $fontstack;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.inputWrapper, .outputWrapper {
    height: 650px;
    width: 525px;
    display: inline-block;
}

.inputWrapper {
    float: left;
}

.outputWrapper {
    float: right;
}

#inputBox, #outputBox {
   height: 650px;
   width: 525px;
   max-width: 525px;
   margin: 0 auto;
}

#outputBox {
    border: 1px solid black;
}

@media (max-width:720px) {
    .inputWrapper, .outputWrapper {
        float: none;
        margin: 0 auto;
        display: block;
    }
    
}