$fontstack: 'Source Sans Pro', sans-serif;
$divshadow: 4px 4px 12px 2px black;
$background1: #E0BF77;

//first SASS usage! Yaaay!

@mixin bg {
    background: -webkit-linear-gradient($background1, #99ccff);
    background: -o-linear-gradient($background1, #99ccff);
    background: -moz-linear-gradient($background1, #99ccff);
    background: linear-gradient($background1, #99ccff);
    background-attachment: fixed;
}
@mixin border-radius {
    border-radius: 0px 40px;
}

@mixin text-style {
    text-shadow: 2px 2px 4px gray;
    color: #003366;
}

.title {
    @include text-style;
}

body {
    @include bg;
    font-family: $fontstack;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.inputWrapper, .outputWrapper {
    height: 800px;
    width: 525px;
    display: inline-block;
}
.inputWrapper {
    float: left;
}
.outputWrapper {
    float: right;
}
textarea {
    font-family: $fontstack;
    box-shadow: $divshadow;
    border: none;
    outline: none;
    font-size: 1.1em;
}

#inputBox, #outputBox {
    @include border-radius;
    width: 525px; 
    max-width: 525px;
    margin: 0 auto;
    word-wrap: break-word;
    background-color: white;
    margin-bottom: 50px;
}

#outputBox {
    font-family: $fontstack;
    box-shadow: $divshadow;
    transition: all .3s;
}

@media (max-width: 720px) {
    .inputWrapper, .outputWrapper, #inputBox, #outputBox {
        float: left;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .outputWrapper {
        margin-top: 100px;
    }
}